<h1>Jobs</h1>

<% if current_user %>
<!-- JobWorker.perform_async("bob", 5") -->

<ul>
  <% @jobs.each do |job| %>
  <li> <%= link_to job.name, job %></li>
  <% end %>
</ul>
<p><%= link_to "Create New Job", new_job_path %>

<% else %>
<h1>not logged in</h1>
<% end %>
