<h1>Edit Schedule</h1>

<%= form_for @schedule, url: {action: "update"} do |f| %>
  <p><%= f.text_field(:name, placeholder: @schedule.name)  %></p>
  <p><%= f.text_field(:cron_string, placeholder: @schedule.cron_string) %></p>

  <%= f.submit "Save Schedule" %>
  <% end %>