/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.container {
  padding-top: 60px;
}

ul {
  list-style: none;
}


/* --- NAV ---- */

.nav {
  /*float: right;*/
  position: absolute;
  background-color: lightgray;
  width: 100%;
  height: 60px;
  top: 0;
  font-weight: bold;
}

/*#nav-left ul {
  float: left;
}

#nav-right ul {
  float: right;
}*/

.nav ul li {
  padding: 5px;
  float: left;
  list-style: none;
}

.nav #title {
  padding-right: 160px;
}


